.dx-header-bar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

:root {
  --rt-meter-color: var(--color-bg-canvas-inverse);
  --rt-meter-bg-color: var(--color-counter-bg);
}

[data-color-mode="dark"] {
  --rt-meter-bg-color: var(--color-bg-secondary);
}

.dx-label.red,
dx-rt-label .label.red {
  --bg-color: red;
}

.dx-label.green,
dx-rt-label .label.green {
  --bg-color: green;
}


.dx-label.grey,
dx-rt-label .label.grey {
  --bg-color: rgba(95, 95, 95, 0.712);
  --color: rgba(209, 209, 209, 0.651);
}

.dx-label,
dx-rt-label .label {
  --color: white;
  --bg-color: green;
  box-sizing: border-box;
  border: 0.1em solid var(--color);
  background-color: var(--bg-color);
  color: var(--color);
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 0.1em 0.5em;
  font-weight: bold;
  border-radius: 0.1em;
  text-transform: uppercase;
  cursor: default;
  display: grid;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.dx-label.small,
dx-rt-label .label.small {
  font-size: 10px;
}

/*  
.toolbar>.header {
  --font-size: 1rem;
  background-color: rgb(233, 233, 233);
  color: rgb(51, 28, 28);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  border-bottom: calc(0.2 * var(--font-size)) solid rgb(66, 75, 72);
  box-shadow: var(--box-shadow2); 
}

.toolbar>.header>.logo {
  flex: none;
  align-self: center;
  background-color: aqua;
  border-radius: 200px;
  height: 40px;
  width: 40px;
  margin: 10px;
}

.toolbar>.header>.items {
  display: flex;
  flex-grow: 1;
  margin-top: 0.4rem;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar>.header>.items .breadcrumb {
  flex-grow: 0;
  color: brown;
  font-weight: bolder;
}

.toolbar>.header>.items .extra-links {
  flex-grow: 1;
  background-color: blue;
}

.toolbar>.header>.items .tabs {
  flex: 0 1 auto;
  display: flex;
  gap: 0.3em;
  margin-bottom: calc(-0.2 * var(--font-size));
  align-self: flex-start;
}

@media (max-width: 40rem) {
  .toolbar>.header>.items .tabs {
    align-self: center;
  }
}

.toolbar>.header>.items .tabs a {
  --color: red;
  --color-hover: rgb(55, 11, 248);
  color: var(--color);
  box-sizing: border-box;
  text-decoration: none;
  border-bottom: calc(0.2 * var(--font-size)) solid var(--color);
  font-weight: 500;
  margin-bottom: 0px;
  padding: 0.2em;
  font-size: calc(0.8 * var(--font-size));
}

.toolbar>.header>.items .tabs a:hover {
  filter: opacity(200%) sepia(40%);
  color: var(--color-hover);
  border-bottom: calc(0.2 * var(--font-size)) solid var(--color-hover);
}

.toolbar>.header>.items .tabs a:active {
  filter: opacity(200%) sepia(40%);
  color: var(--color-hover);
  border-bottom: calc(0.2 * var(--font-size)) solid var(--color-hover);
}

.toolbar>.header>.controls {
  align-self: center;
  color: blueviolet;
  margin: 0.2rem;
}

*/
