@import url("./uplot.css");

.plot-wrapper {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* overflow: hidden; */
  position: absolute;
  z-index: 1;
  background-color: rgb(199, 199, 199);
}

.plot-plot {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  inset: 0;
}

.dark .plot-wrapper {
  background-color: rgb(32, 32, 32);
}
