@import url("./uplot.css");

.plot-wrapper {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: grid;
  /* overflow: hidden; */
  position: absolute;
  z-index: 1;
  background-color: rgba(209, 213, 218, 0.2);
}

.plot-plot {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  inset: 0;
}

.dark .plot-wrapper {
  background-color: rgba(32, 32, 32, 20%);
}
