.meter-main {
  --animation-opacity: 56;
  --box-shadow-meter: inset 0px -0.2em 1.5em red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2em;
  color: var(--rt-meter-color);
  background-color: var(--rt-meter-bg-color);
  // box-shadow: var(--box-shadow-meter);
  cursor: default;
}

.meter-main {
  // background-color: rgba(0, 0, 255, 0.329);
  // box-shadow: inset 0px -0.2em 1.5em 1em var(--rt-meter-bg-color);
}


.meter-main:hover,
.meter-main:focus {
  filter: sepia(40%) brightness(90%);
}

.meter-main .value {
  display: flex;
  gap: .2em;
  flex-direction: row;
  justify-content: stretch;
  align-items: baseline;
}

.meter-main>.value>.rt-value {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: 0;
  flex: 1;
}

.meter-main .value .unit {
  font-size: 1em;
  margin-left: .2rem;
}

.meter-main .name {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 0 0.2em .2em 0.2em;
}
