/* VARIABLES */
html {
  --browser-bg-color: var(--color-neutral-shade2);
  --browser-color: var(--color-neutral-tint4);
  --browser-bg-content-color: var(--color-bg-body);
  --browser-box-shadow: var(--box-shadow3);
  --browser-radius: 0.2rem;
}

.panel-browser {
  background-color: var(--browser-bg-color);
  border: 4px solid var(--browser-bg-color);
  border-radius: var(--browser-radius);
  box-shadow: var(--browser-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.panel-browser>.header {
  color: var(--browser-color);
  background-color: var(--browser-bg-color);
  padding: 0.2rem 0.4rem;
}

.panel-browser>.container {
  flex-basis: 100%;
  border-radius: var(--browser-radius);
  color: var(--browser-color);
  background-color: var(--browser-bg-content-color);
  padding: 0.2rem 0.4rem;
  margin: 0;
}
