.grid {
  --columns: auto-fit;
  --rows: 0;
  --gap: 0;

  display: block;
  column-gap: var(--gap);
  row-gap: var(--gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--rows), minmax(0, 1fr));
}

.grid:not(.grid-lg, .grid-md) {
  display: grid;
}

@media (min-width: 768px) {
  .grid.grid-md {
    display: grid;
  }
}

@media (min-width: 1012px) {
  .grid.grid-lg {
    display: grid;
  }
}

.grid.center {
  align-items: center;
}

.grid.stretch {
  align-items: stretch;
}

.grid.baseline {
  align-items: baseline;
}

.grid.columns-1 {
  --columns: 1;
}

.grid.columns-2 {
  --columns: 2;
}

.grid.columns-3 {
  --columns: 3;
}

.grid.columns-4 {
  --columns: 4;
}

.grid.columns-5 {
  --columns: 5;
}

.grid.columns-6 {
  --columns: 6;
}

.grid.columns-7 {
  --columns: 7;
}

.grid.columns-8 {
  --columns: 8;
}

.grid.columns-9 {
  --columns: 9;
}

.grid.columns-10 {
  --columns: 10;
}

.grid>.col-span-2 {
  grid-column: span 2;
}

.grid>.col-span-3 {
  grid-column: span 3;
}

.grid>.col-span-4 {
  grid-column: span 4;
}

.grid>.col-span-5 {
  grid-column: span 5;
}

.grid>.col-span-6 {
  grid-column: span 6;
}

.grid>.col-span-7 {
  grid-column: span 7;
}

.grid>.col-span-8 {
  grid-column: span 8;
}

.grid>.col-span-9 {
  grid-column: span 9;
}

.grid>.col-span-10 {
  grid-column: span 10;
}

.grid>.col-span-11 {
  grid-column: span 11;
}

.grid>.row-span-2 {
  grid-row: span 2;
}

.grid>.row-span-3 {
  grid-row: span 3;
}

.grid>.row-span-4 {
  grid-row: span 4;
}

.grid>.row-span-5 {
  grid-row: span 5;
}

.grid>.row-span-6 {
  grid-row: span 6;
}

.grid>.row-span-7 {
  grid-row: span 7;
}

.grid>.row-span-8 {
  grid-row: span 8;
}

.grid>.row-span-9 {
  grid-row: span 9;
}

.grid>.row-span-10 {
  grid-row: span 10;
}

.grid>.row-span-11 {
  grid-row: span 11;
}
