/* VARIABLES */
html {
  /* --browser-bg-color: var(--color-counter-primary-bg);
  --browser-bg-content-color: var(--color-counter-primary-bg); */
  /* --browser-bg-color: var(--color-bg-canvas-inverse);
  --browser-bg-content-color: var(--color-bg-tertiary); */
  --browser-header-color: var(--color-auto-gray-7);
  --browser-bg-color: var(--color-auto-gray-1);
  --browser-bg-content-color: var(--color-bg-tertiary);
  --browser-radius: 0.2rem;
}

html.dark {
  --browser-bg-color: var(--color-bg-tertiary);
  --browser-bg-content-color: var(--color-bg-tertiary);
}

.panel-browser {
  /* background-color: var(--color-header-bg); */
  background-color: var(--browser-bg-color);
  border: 2px solid var(--color-border-primary);
  border-radius: var(--browser-radius);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding: 0.5em;
}

.panel-browser>.header {
  /* background-color: var(--color-header-bg); */
  background-color: var(--browser-bg-color);
  color: var(--browser-header-color);
  font-size: large;
  font-weight: bold;
  padding: 0.4rem;
  align-items: center;
  text-transform: uppercase;
}

.panel-browser>.container {
  flex-basis: 100%;
  background-color: var(--browser-bg-color);
  padding: 0.4rem;
  margin: 0;
}
